<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zink.bank.mappers.AccountMapper">

    <select id="selectByAccountNoAccount" parameterType="int" resultType="com.zink.bank.entity.Account">
        SELECT
            account_no as accountNo, cust_id as customerId,
            customer_name as customerName, status, clear_balance as clearBalance,
            unclear_balance as unclearBalance,
            last_transaction_date as lastTransactionDate
        FROM user_account
        WHERE
            account_no = #{accountNo}
    </select>

    <select id="selectAccountsForCustomer" parameterType="int" resultType="com.zink.bank.entity.Account">
        SELECT
            account_no as accountNo, cust_id as customerId,
            customer_name as customerName, status, clear_balance as clearBalance,
            unclear_balance as unclearBalance,
            last_transaction_date as lastTransactionDate
        FROM user_account
        WHERE
            cust_id = #{customerId}
    </select>

    <insert id="createAccount" parameterType="com.zink.bank.entity.Account">
        INSERT INTO user_account
            (account_no, cust_id, customer_name, clear_balance, status)
            VALUE
            (#{accountNo}, #{customerId}, #{customerName},
            #{clearBalance}, #{status})
    </insert>

    <update id="updateAccount" parameterType="com.zink.bank.entity.Account">
        UPDATE user_account
            SET
                clear_balance = #{clearBalance},
                last_transaction_date = #{lastTransactionDate}
            WHERE
                account_no = #{accountNo}
    </update>

</mapper>