<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zink.bank.mappers.TransactionMapper">

    <insert id="createTransaction" parameterType="com.zink.bank.entity.Transaction">
        INSERT INTO transaction
            (account_no, transaction_id, status, clear_balance, transaction_amount,
             current_balance, transaction_date, transaction_type, remarks)
            VALUE
            (#{accountNo}, #{transactionId}, #{status},
            #{clearBalance}, #{transactionAmount},
            #{currentBalance}, #{transactionDate},
            #{transactionType}, #{remarks})
    </insert>

    <select id="fetchTransaction" parameterType="int" resultType="com.zink.bank.entity.Transaction">
        SELECT
            id as id, account_no as accountNo, transaction_id as transactionId, status,
            clear_balance as clearBalance, transaction_amount as transactionAmount,
            current_balance as currentBalance, transaction_date as transactionDate,
            transaction_type as transactionType, remarks
        FROM transaction
        WHERE account_no = #{accountNo}
    </select>

</mapper>